/* Header */
.myHeader a {color: white;}
.myHeader a:hover, .myHeader a:active {color: grey}

.navbar-toggler-icon {
    background-color: grey;
    border-radius: 5px;
}

/* Body */
.cards {
    display: flex;
    width: 75%;
    gap: 2rem;
}

.card {
    flex: 1;
}

@media (max-width: 1000px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
}

.cards img {
    width: 100%;
    height: 100%;
}

/* Footer */
.footer {
    margin-top: 2rem;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    background-color: #1E2125;
    color: white;

}